.contenedor{
    --background: linear-gradient(135deg, #a0c4ff 0%, #e0f7ff 50%, #ffffff 100%);
}

.lista-usuarios{
    background: linear-gradient(135deg, #a0c4ff 0%, #e0f7ff 50%, #ffffff 100%);
    --ion-item-background: transparent;
    border-radius: 10px; /* Opcional: para redondear bordes */
    padding: 10px;
    margin: 0;
    box-shadow: none;
}

.boton{
    margin: 10px;
}
.estudiante {
    border: 2px solid green; /* Borde verde para activo */
    background-color: rgba(0, 255, 0, 0.1); /* Fondo translúcido */
    border-radius: 50%;
  }
  
  .Docente {
    border: 2px solid red; /* Borde rojo para inactivo */
    background-color: rgba(242, 13, 13, 0.99); /* Fondo translúcido */
    border-radius: 100%;
  }