<ion-content class="login-page">
  <div class="header">
    <ion-icon class="user-icon" name="person-outline" slot="start"></ion-icon>
    <h1>INICIA SESIÓN</h1>
  </div>


  

  <div class="form">
    <ion-item class="input-item" lines="none">
      <ion-icon class="icono" name="person-outline" slot="start"></ion-icon>
      <ion-input 
      class="letras" placeholder=" Email" type="text"  [(ngModel)]="usuario.email" required></ion-input>
    </ion-item>
    
    <ion-item class="input-item" lines="none">
      <ion-icon class="icono" name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input class="letras" placeholder="Password" type="password"  [(ngModel)]="usuario.password" required></ion-input>
    </ion-item>
   




    <div class="forgot-password">
      <a href="#">Forgot Password?</a>
    </div>

    <ion-button expand="block" class="login-button" (click)="goToHome()">Login</ion-button>

    <div class="register-text">
      <span>Don't have an Account? </span>
      <a [routerLink]="['/registro']">Register</a>
    </div>
  </div>
</ion-content>










